body {

}
.container{
    visibility:hidden;
}
.divUpdate {
    background-color: aqua;
  /*  width: 100px;
    height: 100px;*/
}
progress {
    appearance: auto;
    box-sizing: border-box;
    display: block;
    block-size: 2em;
    inline-size: 11em;
    vertical-align: 6.8em;
}